asn1crypto
backports.functools-lru-cache
chardet
cliapp
cmdtest
configparser
cryptography
cycler
Django
django-appconf
Django-Select2
djangorestframework
entrypoints
enum34
idna
ipaddress
keyring
keyrings.alt
kiwisolver
Markdown
matplotlib
numpy
PyAudio
pycrypto
pydub
Pygments
PyGObject
pyparsing
python-dateutil
pytz
pyxdg
PyYAML
scipy
SecretStorage
six
sqlparse
subprocess32
termcolor
ttystatus
virtualenv
